<!-- IF S_TYPE == 1 -->
<div class="panel captcha-panel" style="padding:0px">
	<div class="inner">

	<h4 class="post_head">&nbsp;{L_CONFIRMATION}</h4>
	<p class="posting_tabs" style="margin: 5px 10px; font-size:1.1em">{L_CONFIRM_EXPLAIN}</p>

	<fieldset class="fields2" style="padding: 5px 10px">
<!-- ENDIF -->

	<dl>
		<dt><label for="confirm_code">{L_CONFIRM_CODE}{L_COLON}</label></dt>
		<dd class="captcha captcha-image"><img src="{CONFIRM_IMAGE_LINK}" alt="{L_CONFIRM_CODE}" /></dd>
		<dd><input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="{$CAPTCHA_TAB_INDEX}" class="inputbox narrow" title="{L_CONFIRM_CODE}" />
		<!-- IF S_CONFIRM_REFRESH --><input type="submit" name="refresh_vc" id="refresh_vc" class="button2" value="{L_VC_REFRESH}" /><!-- ENDIF -->
		<input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}" /></dd>
		<dd>{L_CONFIRM_CODE_EXPLAIN}</dd>
	</dl>

<!-- IF S_TYPE == 1 -->
	</fieldset>
	</div>
</div>
<!-- ENDIF -->
